<div class="relative mt-5 ml-5 mb-8" [ngClass]="containerClasses" [formGroup]="form">
  <input
    *ngIf="rule !== 'amount' && rule !== 'dpi'"
    [ngClass]="color"
    [type]="type"
    [id]="id"
    [name]="name"
    [autocomplete]="autoComplete"
    [formControlName]="name"
    [maxlength]="length"
    (keypress)="validationValue($event)"
    #inputRef
  />
  <input
    *ngIf="rule === 'amount'"
    [ngClass]="color"
    [type]="type"
    [id]="id"
    [name]="name"
    [autocomplete]="autoComplete"
    [formControlName]="name"
    [maxlength]="length"
    (keypress)="validationValue($event)"
    appFormatNumber
    #inputRef
  />
  <input
    *ngIf="rule === 'dpi'"
    [ngClass]="color"
    [type]="type"
    [id]="id"
    [name]="name"
    [autocomplete]="autoComplete"
    [formControlName]="name"
    [maxlength]="length"
    (keypress)="validationValue($event)"
    #inputRef
  />
  <label class="placeholder-text" [for]="name" id="placeholder-fname">
    <div class="text flex gap-1 items-center" [class.float]="mustFloat()" [ngClass]="color">
      <span>{{ lable }}</span><span class="pt-1" *ngIf="required">*</span>
    </div>
  </label>
  <app-input-alerts [parentForm]="form" [name]="name" [rule]="rule"></app-input-alerts>
</div>
